////
/// @group o-drawer
/// @link http://registry.origami.ft.com/components/o-drawer
////

/// Silent mode
/// @type Bool
$o-drawer-is-silent: true !default;

$o-drawer-z-index: 2499;
$o-drawer-width: 332px;
