////
/// Custom SCSS for component-specific styling goes here
////

.drawerMain {
  background-color : white;
  position         : absolute;
  height           : 100%;
  width            : 260px;
  padding          : 25px 30px 30px 30px;
  box-shadow       : 5px 5px 5px 5px rgba(199,199,199,0.70);
  outline          : none;
  overflow         : hidden;
}

.inital {
  left : -390px;
}

.left {
  left : 0px;
}

.right {
  right : 0px;
}

.contentSection {
  position     : relative;
  width        : 100%;
  list-style   : none;
  padding-left : 0px;
}

.iconWrapper {
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  justify-content : center;
  right           : -14px;
  position        : absolute;
  margin-right    : 30px;
  height          : 44px;
  width           : 44px;
}

.titleSection {

}

.titleSectionHeader {
  display        : flex;
  align-items    : center;
  flex-direction : row;
  border-bottom  : 1px solid #D9D9D9;
  margin-bottom  : 25px;
  align-items    : center;
  padding-bottom : 20px;
}

.titleSectionHeader svg {
}

.titleSectionHeaderBackIcon {

}

.titleSectionHeaderTitleBack {
  font-size     : medium;
  margin-left   : 10px;
  margin-top    : 0px;
  margin-bottom : 0px;
}

.titleSectionHeaderBackspan {
  display        : flex;
  align-items    : center;
  flex-direction : row;
  height         : 26px;
}

.titleSectionHeaderTitleSpan {

}

.titleSectionHeaderBackspan svg {

}

.titleSectionHeaderTitle {
  align-self    : center;
  font-size     : 20px;
  line-height   : 26px;
  margin-bottom : 0px;
}

.titleSectionHeaderCloseIcon {
}


// Drawer Animations ===========================================================
.slideInLeft {
  -webkit-animation-name      : slideInLeft;
  animation-name              : slideInLeft;
  -webkit-animation-duration  : 0.5s;
  animation-duration          : 0.5s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
  animation-timing-function   : ease-in-out;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform : translateX(-100%);
    transform         : translateX(-100%);
    visibility        : visible;
  }
  100% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform : translateX(-100%);
    transform         : translateX(-100%);
    visibility        : visible;
  }
  100% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
}

.slideOutLeft {
  -webkit-animation-name      : slideOutLeft;
  animation-name              : slideOutLeft;
  -webkit-animation-duration  : 0.5s;
  animation-duration          : 0.5s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
  animation-timing-function   : ease-in-out;
}
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
  100% {
    visibility        : hidden;
    -webkit-transform : translateX(-100%);
    transform         : translateX(-100%);
  }
  }
@keyframes slideOutLeft {
  0% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
  100% {
    visibility        : hidden;
    -webkit-transform : translateX(-100%);
    transform         : translateX(-100%);
  }
}

.slideOutRight {
  -webkit-animation-name      : slideOutRight;
  animation-name              : slideOutRight;
  -webkit-animation-duration  : 0.5s;
  animation-duration          : 0.5s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
}

@-webkit-keyframes slideOutRight {
    0% {
      -webkit-transform : translateX(0);
      transform         : translateX(0);
    }
    100% {
      visibility        : hidden;
      -webkit-transform : translateX(100%);
      transform         : translateX(100%);
    }
  }
@keyframes slideOutRight {
  0% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
  100% {
    visibility        : hidden;
    -webkit-transform : translateX(100%);
    transform         : translateX(100%);
  }
}

.slideInRight {
  -webkit-animation-name      : slideInRight;
  animation-name              : slideInRight;
  -webkit-animation-duration  : 0.5s;
  animation-duration          : 0.5s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
  animation-timing-function   : ease-in-out;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform : translateX(100%);
    transform         : translateX(100%);
    visibility        : visible;
  }
  100% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform : translateX(100%);
    transform         : translateX(100%);
    visibility        : visible;
  }
  100% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
}


// Content Animations ===========================================================
.slideInRightContent {
  -webkit-animation-name      : slideInRightContent;
  animation-name              : slideInRightContent;
  -webkit-animation-duration  : 0.3s;
  animation-duration          : 0.3s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
  animation-timing-function   : ease-in-out;
}
@-webkit-keyframes slideInRightContent {
  0% {
    opacity           : 0;
    visibility        : hidden;
    -webkit-transform : translateX(-190px);
    transform         : translateX(-190px);
  }
  100% {
    -webkit-transform : translateX(0px);
    transform         : translateX(0px);
  }
}
@keyframes slideInRightContent {
  0% {
    opacity           : 0;
    visibility        : hidden;
    -webkit-transform : translateX(-190px);
    transform         : translateX(-190px);
  }
  100% {
    -webkit-transform : translateX(0px);
    transform         : translateX(0px);
  }
}

.slideOutRightContent {
  -webkit-animation-name      : slideOutRightContent;
  animation-name              : slideOutRightContent;
  -webkit-animation-duration  : 0.3s;
  animation-duration          : 0.3s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
  animation-timing-function   : ease-in-out;
}
@-webkit-keyframes slideOutRightContent {
  0% {
    opacity           : 0;
    visibility        : hidden;
    -webkit-transform : translateX(100%);
    transform         : translateX(100%);
  }
  100% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
}
@keyframes slideOutRightContent {
  0% {
    opacity           : 0;
    visibility        : hidden;
    -webkit-transform : translateX(100%);
    transform         : translateX(100%);
  }
  100% {
    -webkit-transform : translateX(0);
    transform         : translateX(0);
  }
}
